html[data-theme="light"] {
  --sidebar-hover-bg: #dddddd;
  --sidebar-caption-color: #447e9b;
  --sidebar-bg: #fefefe;

  #nav-sidebar tr th a:link,
  #nav-sidebar tr th a:visited {
    color: #447e9b;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --sidebar-bg: #fefefe;
    --sidebar-hover-bg: #dddddd;
    --sidebar-caption-color: #447e9b;

    #nav-sidebar tr th a:link,
    #nav-sidebar tr th a:visited {
      color: #447e9b;
    }
  }
}

html[data-theme="dark"] {
  --header-bg: #252525;
  --breadcrumbs-bg: #212121;
  --selected-row: #3a4043;

  --sidebar-bg: #121212;
  --sidebar-hover-bg: #515151;
  --sidebar-caption-color: #6cb6db;
  --sidebar-row-color: #ffffff;

  #nav-sidebar tr th a:link,
  #nav-sidebar tr th a:visited {
    color: #f8f8f8;
  }

  #nav-sidebar tr th a:hover {
    color: #4ac1f8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: #252525;
    --breadcrumbs-bg: #212121;
    --selected-row: #3a4043;

    --sidebar-bg: #121212;
    --sidebar-hover-bg: #515151;
    --sidebar-caption-color: #6cb6db;
    --sidebar-row-color: #ffffff;

    #nav-sidebar tr th a:link,
    #nav-sidebar tr th a:visited {
      color: #f8f8f8;
    }

    #nav-sidebar tr th a:hover {
      color: #4ac1f8;
    }
  }
}
